header {
    font-family: Helvetica, sans-serif;
}

main {
    font-family: Arial, sans-serif;
}

/* Header */
header .header-top {
    background-color: black;
}

header .header-top img {
    width: 80px;
}

header nav li img {
    width: 22px;
}

/* Jumbotron section */
section.jumbotron .jumbo {
    /* background-color: blue; */
    height: 600px;
}

section.jumbotron .container-fluid{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

section.jumbotron .jumbo-content img {
    width: 220px;
}

/* Jumbo cards section */
section.cards img {
    width: 100%;
    border-radius: 30px;
}

/* PS5 section */
.my-ps-blue {
    color: #1876d2;
}

.my-ps-blue-bg {
    background-color: #1876d2;
}

section.plays-5 .console-wrapper img {
    width: 100%;
}

section.plays-5 .ps-5-cards img {
    width: 100%;
}

/* Hero section */
section.hero {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
}

section.hero .hero {
    height: 600px;
}

section.hero .hero-content img {
    width: 200px;
}

/* Nuove uscite section */
section#nuove-uscite {
    background-color: #1f1f1f;
}

section#nuove-uscite .card-item img {
    width: 100%;
    border-radius: 30px;
}

/* PS4 cards secton */
section.ps-4-cards img {
    width: 100%;
}

/* PS Plus section */
section.ps-plus {
    background-color: #bebcbb;
}

section.ps-plus .container-fluid {
    background-image: url("../img/ps-plus-april-monthly-games-featured-image-block.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 95%;
}

section.ps-plus .plus-content img.games {
    width: 100%;
}

/* Playstation bg image removed in sm screens and below */
@media screen and (max-width: 576px) {
    section.ps-plus .container-fluid { display: none; }
}

section.ps-plus .plus-content .plus-logo {
    width: 300px;
}

/* PS Store section */
section.ps-store img {
    width: 100%;
}

/* PS Now section */
section.ps-now {
    background-color: #161c3b;
}

section.ps-now .now-content .now-logo {
    width: 300px;
}

section.ps-now .container-fluid {
    background-image: url("../img/ps-now-april-featured-image-block.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 95%;
    height: 450px;
}

section.ps-now .now-content{
    height: 450px;
}
