header {
    font-family: Helvetica, sans-serif;
}

main {
    font-family: Arial, sans-serif;
}

/* Header */
header .header-top {
    background-color: black;
}

header .header-top img {
    width: 80px;
}

header nav li img {
    width: 22px;
}

/* Jumbotron section*/
section#jumbotron .jumbo {
    background-color: blue;
    height: 450px;
}

section.cards img {
    width: 100%;
}
