header {
    font-family: Helvetica, sans-serif;
    position: fixed;
    z-index: 2;
    width: 100%;
}

main {
    font-family: Arial, sans-serif;
}

/* Header */
header .header-top {
    background-color: black;
}

header .header-top img {
    width: 80px;
}

header nav li img {
    width: 22px;
}

header nav li a {
    color: grey;
}

header nav .nav-item:hover {
    color: #1876d2;
}

/* Jumbotron section */
section.jumbotron {
    padding-top: 114.08px;
}

section.jumbotron .jumbo {
    height: 600px;
}

section.jumbotron .container-fluid{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

section.jumbotron .jumbo-content img {
    width: 100%;
}

/* Jumbo cards section */
section.cards img {
    width: 100%;
    border-radius: 30px;
    position: relative;
    top: 15%;
    transition: top ease 0.5s;
}

section.cards img:hover {
    top: 0;
    outline: 2px solid #1876d2;
}

/* PS5 section */
.my-ps-blue {
    color: #1876d2;
}

.my-ps-blue-bg {
    background-color: #1876d2;
}

section.plays-5 .console-wrapper img {
    width: 100%;
}

section.plays-5 .ps-5-cards img {
    width: 100%;
}

/* Hero section */
section.hero {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
}

section.hero .hero {
    height: 600px;
}

section.hero .hero-content img {
    width: 200px;
}

/* Nuove uscite section */
section#nuove-uscite {
    background-color: #1f1f1f;
}

section#nuove-uscite .card-item img {
    width: 100%;
    border-radius: 30px;
    transition: transform .3s;
}

section#nuove-uscite .card-item img:hover {
    cursor: pointer;
    transform: scale(1.01);
}

/* PS4 cards secton */
section.ps-4-cards img {
    width: 100%;
}

/* PS Plus section */
section.ps-plus {
    background-color: #bebcbb;
}

section.ps-plus .container-fluid {
    background-image: url("../img/ps-plus-april-monthly-games-featured-image-block.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 95%;
}

/* Playstation bg image removed in sm screens and below */
@media screen and (max-width: 768px) {
    section.ps-plus .container-fluid  { 
        background-image: none; 
    }
}

section.ps-plus .plus-logo {
    width: 300px;
}

/* PS Store section */
section.ps-store img {
    width: 100%;
    border-radius: 30px;
    transition: transform .3s;
}

section.ps-store img:hover {
    cursor: pointer;
    transform: scale(1.01);
}

/* PS Now section */
section.ps-now {
    background-color: #161c3b;
}

section.ps-now .now-logo {
    width: 300px;
}

section.ps-now .container-fluid {
    background-image: url("../img/ps-now-april-featured-image-block.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 95%;
}

/* Playstation bg image removed in sm screens and below */
@media screen and (max-width: 768px) {
    section.ps-now .container-fluid  { 
        background-image: none; 
    }
}

/* Social Media section */
section#social img {
    transition: border-radius ease 0.2s;
}

section#social img:hover {
    cursor: pointer;
    border-radius: 30px;
}

/* Footer */
footer {
    background-color: #00439b;
    font-size: 14px;
}

footer ul li {
    line-height: 1.7rem;
}

footer img.ps-logo {
    width: 100px;
}

footer img.globe {
    width: 20px;
}

footer img.sony {
    width: 120px;
}

/* Hover effects on buttons */
.btn-danger:hover{
    outline-offset: 2px;
    outline: 2px solid #bb2d3a;
}

.my-btn-blu:hover {
    outline-offset: 2px;
    outline: 2px solid #1876d2;
}

.my-btn-light:hover {
    outline-offset: 2px;
    outline: 2px solid #f9fafb;
}
